target/BloxTools-1.0-SNAPSHOT.jar
target/BloxTools-1.0-SNAPSHOT-shaded.jar
target/original-BloxTools-1.0-SNAPSHOT.jar

# IntelliJ IDEA
.idea/*
!*.iml
!.idea/modules.xml
!.idea/compiler.xml
!.idea/jarRepositories.xml

